// Your footer style
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}

.page-wrap:after {
  content: "";
  display: block;
}

#footer, .page-wrap:after {
  height: 100px;
}

#footer {
    background: #24292e;
    padding: 30px 0;
    color: #CCCCCC;
    size: 28px;
}

#footer ul {
    margin-top: 10px;
    color: #CCCCCC;
    size: 28px;
}

a {
    color: #CCCCCC;
    text-decoration: none;
}

a:hover, a:focus {
    color: #FFFFFF;
    text-decoration: underline;
}

#footer .fa {
    display: inline-block;
    font-size: 30px;
    text-rendering: auto;
}

#footer .list-inline {
  padding-top:0px;
}
